ENV=dev
PROJECT_NAME=HeirsPrivPark
API_PREFIX=/api
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/privpark
FIREBASE_PROJECT_ID=heirsprivpark
FIREBASE_CREDENTIALS_PATH=backend/secrets/heirsprivpark-firebase-adminsdk-fbsvc-bf453d46c7.json
CORS_ORIGINS=*
